:root {
  --main-text-color: #212121;
  --second-type-color: #ffffff;
  --highlight-color: #2196f3;
  --paragrapgh-color: #757575;
  --second-background: #2f303a;
  --third-background: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--main-text-color);
  margin: 0;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  line-height: 1.19;
  font-size: 26px;
  color: var(--main-text-color);
  text-decoration: none;
}

.highlight {
  color: var(--highlight-color);
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--highlight-color);
}

.active-now:visited {
  color: var(--highlight-color);
}

.active-now::after {
  content: "";
  position: absolute;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: -32px;
}

.header-contact {
  font-weight: 500;
  line-height: 1.14;
  color: var(--paragrapgh-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--highlight-color);
}

.mail-icon {
  --color2: currentColor;
  margin-right: 10px;
  vertical-align: middle;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-icon {
  --color4: currentColor;
  margin-right: 10px;
  vertical-align: middle;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-type-color);
}

.main-button {
  background: var(--highlight-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: var(--second-type-color);
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.lorem-icons {
  background: var(--third-background);
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.heading-lorem {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.lorem-text {
  line-height: 1.71;
  color: var(--paragrapgh-color);
}

h2 {
  font-size: 36px;
  line-height: 1.166;
  color: var(--main-text-color);
}

.main-light-background {
  background: var(--third-background);
}

.full-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}

.profession {
  font-size: 16px;
  line-height: 1.1875;
  color: var(--paragrapgh-color);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  line-height: 1.19;
  font-size: 26px;
  color: var(--second-type-color);
  text-decoration: none;
}

.address {
  line-height: 1.71;
  color: var(--second-type-color);
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
  color: var(--highlight-color);
}

.footer-contact {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--highlight-color);
}

.footer-text {
  color: var(--second-type-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.horizontal-line {
  border: 1px solid #ececec;
}

.portfolio-button {
  background: var(--third-background);
  border-radius: 4px;
  width: 93px;
  height: 38px;
  border: 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--highlight-color);
  color: var(--second-type-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-name {
  margin-top: 0;
  margin-left: 24px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-text-color);
}

.project-type {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
  font-size: 16px;
  line-height: 1.875;
  color: var(--paragrapgh-color);
}

.list-style {
  list-style: none;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.first-section {
  background: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 200px 0;
}

header {
  border-bottom: 1px solid #ececec;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  margin-left: 93px;
  gap: 46px;
  padding: 32px 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.lorem-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.doing-section {
  padding-top: 0;
}

.h2-position {
  text-align: center;
  margin-bottom: 50px;
}

.doing-images {
  display: flex;
  gap: 30px;
  padding-left: 0;
}

.doing-img-description {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  bottom: 4px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.03em;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: auto;
}

.team-list {
  display: flex;
  gap: 30px;
  padding-left: 0;
}

.team-description {
  text-align: center;
  margin-top: 30px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background: var(--second-type-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--highlight-color);
  --color1: var(--second-type-color);
}

.team-li {
  background-color: var(--second-type-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.client-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.client-link {
  display: flex;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  --color1: var(--highlight-color);
  border: 1px solid var(--highlight-color);
}

.footer {
  background: var(--second-background);
  padding: 60px 0;
}

.footer .container {
  display: flex;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-li {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  --color1: var(--second-type-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--highlight-color);
  --color1: var(--second-type-color);
}

.footer-right {
  margin-left: 70px;
}

.address-list {
  margin-top: 20px;
  padding-left: 0;
}

.mail-footer {
  margin-top: 9px;
  margin-bottom: 9px;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  padding-left: 0;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-left: 0;
}

.project-li {
  flex-basis: calc((100% - 60px) / 3);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-li:hover,
.project-li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

img {
  max-width: 100%;
}

.project-img {
  display: block;
}

.project-description {
  padding-top: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.overlay-content {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-li:hover .overlay {
  transform: translateY(0);
}

.overlay-text {
  margin: 0;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  padding: 0;
}

.modal-close-icon {
  vertical-align: middle;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}

.psr {
  position: relative;
}
